/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.idea
.vscode

log/
templates/java
templates/__app__
#templates/starter/ddd_init
templates/starter/mvc_init/__app__
test.db

.env
.env.development

target
